.wrapper {
  grid-column: span 2;
  display: grid;
  grid-template-columns: 1fr 30vw 1fr;
  background: var(--feature-color);
  color: var(--text-color);
  padding: 5px;
  height: 50px;
}

.logoWrapper {
  padding: 11px 11px 0;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: var(--bg-color);
}

.logo:hover {
  color: var(--grey-color-4);
}

.links {
  display: flex;
  justify-content: flex-end;
  padding: 11px 11px 0;
}

.link {
  font-size: 14px;
  color: var(--bg-color);
  margin-left: 10px;
  cursor: pointer;
}

.link:hover {
  color: var(--grey-color-4);
}
