.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  overflow: hidden;
}

.video {
  flex: 1 1 300px;
  object-fit: contain;
}

.title {
  flex: 0;
  padding: 10px;
  font-size: 18px;
}

.toolbar {
  flex: 0 0 30px;
  display: flex;
  justify-content: stretch;
}

.toolbar > * {
  flex: 1;
}

.toolbar :global(.ui.button) {
  border-radius: 0;
  margin: 0;
  padding: 10px;
  white-space: nowrap;
  text-align: center;
  background: var(--grey-color-4);
  color: var(--grey-color-1) !important;
  font-weight: normal;
}

.toolbar :global(.ui.button):hover {
  background: var(--grey-color-3);
}

.subPane {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 10px;
}
