.wrapper {
  display: block;
}

.message {
  padding: 15px;
}

.videoWrapper {
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  position: relative;
}

.video {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.title {
  flex: 0;
  padding: 10px;
  font-size: 18px;
}

.toolbar {
  flex: 0 0 30px;
  display: flex;
  justify-content: stretch;
}

.toolbar > * {
  flex: 1;
}

.toolbar :global(.ui.button) {
  border-radius: 0;
  margin: 0;
  padding: 10px;
  white-space: nowrap;
  text-align: center;
  font-weight: normal;
}

.subPane {
  flex: 1;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
  padding: 10px;
}
