.vertical {
  margin: -5px 0;
  width: 100%;
}

.horizontal {
  display: flex;
}

.horizontal > * {
  max-width: 350px;
}

.grid {
  display: grid;
  grid-template-columns: 350px 350px 350px;
}

.grid > * {
  width: 340px;
  margin: 10px 20px;
}
