.item {
  display: flex;
  align-items: center;
  margin: 15px;
  cursor: pointer;
  --image-size: 120px;
}

.item:hover {
  text-decoration: underline;
}

.image {
  flex: 0 0 var(--image-size);
  width: var(--image-size);
  height: calc(var(--image-size) / (16 / 9));
  background-repeat: none;
  background-position: 50% 50%;
  background-size: cover;
  margin-right: 15px;
}

.text {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.title,
.artist,
.processing {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.title {
  font-weight: bold;
}

.artist {
  margin-top: 5px;
}

.processing {
  font-size: 12px;
  margin-top: 5px;
}
