.wrapper,
.wrapperNoPlayer {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: var(--bg-color);
  color: var(--text-color);
  display: grid;
  grid-template-rows: 50px auto;
}

.wrapper {
  grid-template-columns: auto 30%;
  display: grid;
}

.wrapperNoPlayer {
  grid-template-columns: 1fr;
}

.wrapper .titleBar {
  grid-column: span 2;
}

.player {
  overflow: auto;
}
