.wrapper {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-rows: 50px auto;
  overflow: hidden;
  background: var(--bg-color);
  color: var(--text-color);
}

.player {
  overflow: auto;
}

.zeroState {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  color: var(--grey-color-4);
  font-weight: bold;
  flex-grow: 1;
}
