html,
body {
  background: #fff !important;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background: #222 !important;
  }
}

*:focus {
  outline: 0 !important;
}

.captions-curr-line,
.captions-curr-word {
  color: #2185d0;
  font-weight: bold;
  line-height: 185%;
}

.captions-next-line,
.captions-wait-line,
.captions-after-word,
.captions-wait-word,
.captions-before-word {
  color: #ccc;
  font-weight: bold;
  line-height: 185%;
}

.ui.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ui.form .field {
  margin: 0;
}

textarea {
  font-size: 1.75rem !important;
}

.synctime i.icon {
  margin: 0 !important;
}

.ui.input.primary > input {
  color: #2185d0;
}

.ui.input.primary > input,
.ui.input.secondary > input {
  text-align: center;
}
