*:focus {
  outline: 0 !important;
}

.captions-curr-line,
.captions-curr-word {
  color: #2185d0;
  font-weight: bold;
  line-height: 185%;
}

.captions-next-line,
.captions-wait-line,
.captions-after-word,
.captions-wait-word,
.captions-before-word {
  color: #ccc;
  font-weight: bold;
  line-height: 185%;
}

.ui.form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ui.form .field {
  margin: 0;
}

.bg-primary {
  background-color: var(--feature-color);
}

textarea {
  font-size: 1.75rem !important;
}

.synctime i.icon {
  margin: 0 !important;
}

.ui.input.primary > input {
  color: #2185d0;
}

.ui.input.primary > input,
.ui.input.secondary > input {
  text-align: center;
}

.ui.dropdown .menu {
  background: var(--bg-color) !important;
}

.ui.dropdown .menu .active.item,
.ui.dropdown .menu .selected.item {
  color: var(--text-color) !important;
}

.ui.dropdown .menu > .item {
  color: var(--grey-color-1) !important;
}

.ui.dropdown .menu > .item:hover {
  background: var(--grey-color-4) !important;
}
