.plyr__caption {
  font-size: 2rem;
}

.plyr:fullscreen .plyr__caption {
  font-size: 4rem;
}

.plyr__captions .plyr__caption {
  background: none !important;
  line-height: 1% !important;
}

.plyr__captions {
  background: rgba(0, 0, 0, 0.8);
}

.plyr__captions .plyr__caption .captions-all {
  font-size: 1.5rem;
  line-height: 1%;
}
